body{
  background-color: white;
}
h1{
  text-align: center;
}
.fp-watermark{
  display: none;
}
.LandingJuega{
  background-color: 'blue';
  color: 'white';
}

.Page{
  background-color: blue;
  transition: all 0.75s ease-in-out;
  .fp-overflow{
    width: 100%;
    height: 100%;
    .background{
      background-color: red;
    }
  }
}

@keyframes gradientTransition {
  0% {
    background: linear-gradient(148deg, rgba(255,214,87,1) 0%, rgba(13,173,192,1) 40%, rgba(186,122,145,1) 83%);
  }
  100% {
    background: linear-gradient(148deg, rgba(255,214,87,1) 0%, rgba(13,173,192,1) 40%, rgba(186,122,145,1) 83%);
  }
}

.pageTransition {
  animation: gradientTransition 1s ease forwards;
}

.borderAnimation{
  //filter: drop-shadow(0px 0px 10px rgb(10, 218, 27)) brightness(1) saturate(100%);
  &-whatsapp{
    animation: borderAnimation 1.75s ease-in-out infinite;
  }
  &-messenger{
    animation: borderAnimationMessenger 1.75s ease-in-out infinite;
  }
  &-media{
    animation: borderAnimationMedia 1.75s ease-in-out infinite;
  }
}

@keyframes borderAnimation {
  0% {
    filter: drop-shadow(0px 0px 10px rgb(10, 218, 27)) brightness(1) saturate(100%);
  }
  50% {
    filter: drop-shadow(0px 0px 1px rgb(10, 218, 27)) brightness(1) saturate(100%);
  }
  100%{
    filter: drop-shadow(0px 0px 10px rgb(10, 218, 27)) brightness(1) saturate(100%);
  }
}

@keyframes borderAnimationMessenger {
  0% {
    filter: drop-shadow(0px 0px 10px rgb(10, 83, 218)) brightness(1) saturate(100%);
  }
  50% {
    filter: drop-shadow(0px 0px 1px rgb(10, 83, 218)) brightness(1) saturate(100%);
  }
  100%{
    filter: drop-shadow(0px 0px 10px rgb(10, 83, 218)) brightness(1) saturate(100%);
  }
}
@keyframes borderAnimationMedia {
  0% {
    filter: drop-shadow(0px 0px 10px rgb(237, 47, 47)) brightness(1) saturate(100%);
  }
  50% {
    filter: drop-shadow(0px 0px 1px rgb(237, 47, 47)) brightness(1) saturate(100%);
  }
  100%{
    filter: drop-shadow(0px 0px 10px rgb(237, 47, 47)) brightness(1) saturate(100%);
  }
}

/* Añadir a tu archivo CSS */
.popup-content {
  max-width: 100%; /* o un valor fijo si prefieres */
  max-height: 100%; /* o un valor fijo si prefieres */
  overflow: auto; /* Permite el desplazamiento si el contenido es más grande que el popup */
}

/* Deshabilitar zoom en dispositivos táctiles */
@media (pointer: coarse) {
  .popup-content {
      touch-action: manipulation;
  }
}

.video-player {
  max-width: 100%; /* Limita el ancho del video al del contenedor */
  max-height: 100%; /* Limita la altura del video al del contenedor */
}

.novideoTag{
  animation: animationNovideo 1s ease-in-out;
}

@keyframes animationNovideo{
  from{
    margin-top: 10px;
    opacity: 0;
  }
  to{
    margin-top: 0px;
    opacity: 1;
  }
} 